@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&family=Roboto:wght@400;700&family=Train+One&display=swap");

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: calc(100vh - 240px);
}

body {
    overflow-x: hidden;
}

.nav-extended {
    background: #683b12;
    min-height: 70px;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.logo-image {
    height: 60px;
    width: 60px;
    border-radius: 60px;

    margin-top: 5px;
    margin-bottom: 7px;
}

.brand-logo {
    margin-left: 15px;
}

.sidenav {
    width: 50%;
}

.sidenav-trigger i {
    font-size: 1.8rem;
    margin-top: 5px;
}

.sidenav li {
    line-height: 30px;
}

.sidenav li > a {
    padding: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #683b12;
}

.sidenav li > a:hover{
    background-color: #efebe9;

}

.menu {
    color: #683b12;
}

.cook-list {
    padding: 0;
    margin-top: 15px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    color: #683b12;
}

.page-footer {
    background: #683b12;
}

.media-icon {
    font-size: 2em;
}

.footer-copyright .container {
    font: 1.2em bold;
}

.slider .slides > img {
    object-fit: cover;
    filter: brightness(0.4);
}

.slides h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.slides p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #fff;
}

.waves-brown {
    background-color: #683b12;
    color: #fff;
    margin: 5px;
}

.waves-brown:hover {
    background-color: rgba(121, 85, 72, 0.65);
}

.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    font-size: 40px;
}

.slider .indicators .indicator-item.active {
    background-color: #683b12;
    font-size: large;
}

.slider .slides li .caption{
    background-color: rgba(0, 0,0, 0.25);
   
}

@media screen and (min-width: 768px) {
    .slider .slides li .caption {
        width: 50%;
    }
}



.header-title {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 2.3rem;
    letter-spacing: 1px;
    text-shadow: 1px 1px;
    color: #683b12;
    text-transform: uppercase;
}

.header-par {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #683b12;
}

.feature {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #683b12;
}

.card .card-title.activator {
    font-family: "roboto", sans-serif;
    cursor: pointer;
    font-size: 1.4rem;
    color: #683b12;
    text-transform: uppercase;
    font-weight: 300;
}

.card-title i:hover {
    color: #d84315;
}

.view-recipe {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    color: #fff;
    text-transform: uppercase;
    background-color: #683b12;
    border-radius: 10%;
}
.view-recipe:hover{
    background-color: #8d6e63;
}

.card .card-title {
    font-size: 25px;
    font-weight: 500;
}

.par-card {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #683b12;
}

.button-recipes .btn {
    background-color: #683b12;
}

.button-recipes .btn:hover {
    background-color: #a1887f;
}

.main-course {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    color: #683b12;
    text-transform: uppercase;
    text-align: center;
}

.latest-recipes {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #683b12;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}

.card .card-content .card-title {
    display: block;
    line-height: 20px;
    margin-bottom: 8px;
    font-size: 1rem;
    font-family: "roboto", sans-serif;
    font-weight: 700;
    color: #683b12;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .card-content p {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    color: #683b12;
    font-weight: 300;
    line-height: 22px;
    display: block;
    margin-bottom: 8px;
}

svg {
    height: auto;
    fill: #683b12;
}

.food-icon {
    font-size: 1rem;
    color: #683b12;
}

.food-stl {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    color: #683b12;
    float: right;
}

.last-list {
    margin-bottom: 3px;
}

.card .card-image .card-title {
    font-family: "roboto", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    position: absolute;
    padding: 15px;
}

#reg-card {
    margin-top: 20px;
    box-shadow: 2px 2px #683b12;
}

#reg-title {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #683b12;
    text-align: center;
    letter-spacing: 1px;
}

.input-field .prefix {
    font-size: 2rem;
    color: #683b12;
    margin: 2px;
}

.input-field .prefix.active {
    color: #a1887f;
}

.input-field .prefix ~ input,
.input-field .prefix ~ textarea,
.input-field .prefix ~ label,
.input-field .prefix ~ .validate ~ label,
.input-field .prefix ~ .helper-text,
.input-field .prefix ~ .autocomplete-content {
    margin-left: 3rem;
    color: #683b12;
    font-size: 0.9rem;
}

.card-action .btn,
.alr-reg .btn {
    background-color: #683b12;
    margin-bottom: 6px;
}

.alr-reg a {
    display: block;
    justify-content: center;
    align-content: center;
}

.bg_text_color {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    color: #683b12;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

.flashes h4,
.new_use {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1px;
    letter-spacing: 1px;
    color: #683b12;
    text-align: center;
    text-transform: uppercase;
}

.log-card {
    margin-top: 10px;
}

.create {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1px;
    letter-spacing: 1px;
    color: #683b12;
    text-align: center;
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: double;
}

/*---------------------------------------------Recipe-page*/

.recipes-card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    overflow: hidden;
    max-height: 480px;
}

#title_recipe {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    color: #683b12;
    line-height: 22px;
    letter-spacing: 1px;
}

#time_cook {
    font-family: "roboto", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    margin-top: 2px;
    text-transform: capitalize;
}

.view_recipe .btn {
    border-radius: 10%;
    background-color: #683b12;
    color: #fff;
    font-size: 0.8rem;
    font-family: "roboto", sans-serif;
    font-weight: 300;
}

.card-image img {
    width: auto;
    max-height: 260px;
}

.fa-seedling {
    font-size: 1.5rem;
    color: green;
    float: right;
    top: 0;
}

.categ_title {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: #683b12;
    text-transform: capitalize;
}

@media screen and (max-width: 600px) {
    .search_field {
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .search_field i {
        display: none;
    }

    .search {
        margin-left: 5px;
        font-size: 1rem;
        color: #fff;
    }

    .search-col {
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
/*---------------------------------------Add-recipe-page*/
.dropdown-content li > a,
.dropdown-content li > span {
    color: #683b12;
}

.add-submit {
    background-color: #683b12;
}

/*---------------------------------------------Profile-page*/

.username-head {
    font-family: "roboto", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    color: #683b12;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
}

.own-recipe {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: #683b12;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
}

.own-recipe h3 {
    font-family: "roboto", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: #683b12;
    text-align: center;
    letter-spacing: 1px;
    line-height: 35px;
    text-transform: uppercase;
}

.own-recipe p {
    font-family: "roboto", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #683b12;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.addrecipe-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.addrecipe-btn .btn-small {
    text-align: center;
    background-color: #683b12;
    font-size: 20px;
}

.my_recipc_title {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #683b12;
    margin-left: 18px;
}

.no_recipe {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 2rem;
    color: #683b12;
    text-align: center;
}

.view_recipe .edit-btn {
    margin: 20px;
    background-color: #00c853;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.edit-btn:hover{
    background-color: rgb(117, 209, 108);
}
.delete-btn {
    background-color: #b71c1c;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.delete-btn:hover{
    background-color: rgb(230, 61, 61);
}

.del-title {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #683b12;
    letter-spacing: 1px;
}

.del-par {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    color: #683b12;
    letter-spacing: 1px;
}

/*---------------------------------Edit-recipe-page*/

.edit_btn a {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    background-color: #b71c1c;
    margin: 5px;
}

.edit_btn a:hover {
    background-color: #cf6a6a;
}
.edit_btn button {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    background-color: #00c853;
    margin: 5px;
}

.edit_btn button:hover {
    background-color: #3aee85;
}

/*----------------------------------------------Get-cateories-page*/

.category_section {
    width: 100%;
    height: auto;
}

.categ-div {
    padding: 10px;
    display: block;
    justify-content: center;
    align-content: center;
}

.category-title {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #683b12;
}

.add_category,
.edit-categ {
    background-color: #683b12;
    color: #fff;
}
.add_category:hover,
.edit-categ:hover {
    background-color: #8d6e63;
}

.add_sec-heg {
    min-height: 470px;
}

.cancel-cat{
    margin-bottom: 10px;
}

/*--------------------------------------Recipe-detail-page*/

.recipe_head {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #683b12;
    text-decoration-line: underline;
    text-transform: uppercase;
    letter-spacing: 1px;
    top: 0;
    padding: 0;
    margin-left: 5px;
}

.created_author {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #683b12;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.recipe_image {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.recipe-description {
    line-height: 20px;
    letter-spacing: 1px;
    color: #683b12;
    margin-top: 5px;
}

.recipe_table {
    margin-top: 80px;
}

.recipe-ingredients {
    font-family: "roboto", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #683b12;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.title_ing {
    font-family: "roboto", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #683b12;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin: 0;
}
/* Media queries */

@media only screen and (max-width: 600px) {
    .row .col.m3 {
        width: 100%;
    }
    
    label {
        font-size: 10px;
    }
}

@media only screen and (width: 768px) {
    .sidenav li > a {
        font-size: 2rem;
        line-height: 50px;
    }
    .row .col.m4 {
        width: 50%;
        max-height: 430px;
        margin-bottom: 50px;
    }
    .row .col.m3 {
        width: 50%;
    }
}
