@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,600;1,700&family=Roboto:wght@400;700&family=Train+One&display=swap');

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    overflow-x: hidden;
}


.nav-extended {
    background: #683b12;
    min-height: 70px;
}


.logo-image {
    height: 60px;
    width: 60px;
    border-radius: 60px;
   
    margin-top: 5px;
    margin-bottom: 7px;
}

.brand-logo {
    margin-left: 15px;
}

.sidenav {
    width: 40%;
    
}

.sidenav-trigger i{
    font-size: 1.8rem;
    margin-top: 5px;
}

.sidenav li {
    line-height: 30px;
}

.sidenav li>a {
    line-height: 40px;
    font-weight: 500;
    
   
}

.menu {
    color: #683b12;
    
}
.menu:hover {
    color: #fafafa;
    

}

.sidenav li>a:hover{
    background: #3e2723 ;
    
}

.cook-list{
    font-size: 1.5rem;
}

.page-footer{
    background: #683b12;
}

.media-icon{
    font-size: 2em;
}

.footer-copyright .container{
    font: 1.2em bold;

}

.slider .slides>img {
    object-fit: cover;
    filter: brightness(.4);

}

.slides h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
   font-size: 20px;
   line-height: 25px;
   text-transform: uppercase;
   letter-spacing: 0.1em;

}

.slides p{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
   font-size: 15px;
   text-transform: uppercase;
   letter-spacing: 0.1em;
   color: #fff;
}

.waves-brown {
  
     background-color: #683b12 ;
     color: #fff;
   }

.waves-brown:hover {
    background-color:  rgba(121, 85, 72, 0.65);

}

.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    font-size: 40px;

}

.slider .indicators .indicator-item.active{
    background-color: #683b12 ;
    font-size: large;
}

