<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href=" {{ url_for('static', filename='images/OnlineFoodOrdersfavicon-1920w.png') }}" />
        <!----------------------------Fontawesome-link-->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <!------------------------------ Import materialize.css-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" 
        type="text/css" />
        <!---------------------------------style.css-->
        <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css" />
        <title>Delicious Cookbook</title>
    </head>

    <body>
        <header>
            <!--------------------------------------------Navbar -->
            <nav class="nav-extended">
                <div class="nav-wrapper">
                    <a href="{{url_for('home')}}" class="brand-logo">
                        <img src="{{url_for('static',filename='images/logo.jpg')}}" alt="logo" class="logo-image" />
                    </a>
                    <a href="{{ url_for('home')}}" data-target="mobile-demo" class="sidenav-trigger right">
                        <i class="fas fa-bars"></i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('recipes')}}">Recipes</a></li>
                        {% if session.user %} {% if session.user == "adminfa"| lower %}
                        <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                        {% endif %}
                        <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                        <li><a href="{{ url_for('profile', first_name=session['user'])}}">Profile</a></li>
                        <li><a href="{{url_for('logout')}}">Log Out</a></li>
                        {% else %}
                        <li><a href="{{url_for('login')}}">Log In</a></li>
                        <li><a href="{{url_for('register')}}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            <!---------------------------------Mobile-bar-->
            <ul class="sidenav" id="mobile-demo">
                <li>
                    <a href="{{url_for('home')}}">
                        <h4 class="brown-text text-darken-1 cook-list">Cookbook</h4>
                    </a>
                </li>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('recipes')}}">Recipes</a></li>
                {% if session.user %} {% if session.user| lower == "adminfa"| lower %}
                <li><a href="{{url_for('get_categories')}}">Manage Categories</a></li>
                {% endif %}
                <li><a href="{{url_for('add_recipe')}}">Add Recipe</a></li>
                <li><a href="{{ url_for('profile', first_name=session['user'])}}">Profile</a></li>
                <li><a href="{{url_for('logout')}}">Log Out</a></li>
                {% else %}
                <li><a href="{{url_for('login')}}">Log In</a></li>
                <li><a href="{{url_for('register')}}">Register</a></li>
                {% endif %}
            </ul>
        </header>

        <section>
             <!-----------------------------render all the messages if its found-->
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <div class="row flashes">
                <h4 class="message_show">{{ message }}</h4>
            </div>
            {% endfor %} {% endif %} {% endwith %}
        </section>

        <main>
            {%block content%} {% endblock %}
        </main>

        <footer class="page-footer">
            <div class="row center-align">
                <div class="col s12">
                    <a class="grey-text text-lighten-3" href="{{url_for('home')}}">
                        <h5 class="white-text">Delicious Cookbook
                        </h5>
                    </a>
                    <a class="grey-text text-lighten-3" href="{{url_for('home')}}">
                        <h5 class="white-text">SOCIAL MEDIA</h5>
                    </a>
                    <ul>
                        <li class="col s4">
                            <a class="grey-text text-lighten-3 media-icon" href="https://www.facebook.com/"
                             target="_blank">
                                <i class="fab fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="col s4">
                            <a class="grey-text text-lighten-3 media-icon" href="https://www.linkedin.com/feed/"
                             target="_blank">
                                <i class="fab fa-linkedin" aria-hidden="true"> </i>
                            </a>
                        </li>
                        <li class="col s4">
                            <a class="grey-text text-lighten-3 media-icon" href="https://www.instagram.com/"
                             target="_blank">
                                <i class="fab fa-instagram-square" aria-hidden="true"> </i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="footer-copyright deep-orange lighten-1">
                <div class="container center-align">
                    © 2021 Copyright Delicious Cookbook
                </div>
            </div>
        </footer>
        <!-----------------------------------jQuery CDN-->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
         crossorigin="anonymous"></script>
        <!-----------------------------------Compiled and minified JavaScript or Jquery-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    </body>
</html>
