{% extends "base.html" %} {% block content %}
<h3 class="username-head">Hi,{{ first_name|upper }}</h3>
<section class="container">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content own-recipe">
                    <span class="card-title">
                        Add your own recipe
                    </span>
                    <p>Store your favorite recipes for easy access and share with the Recipes Community.</p>
                </div>
                <div class="card-action addrecipe-btn">
                    <a href="{{ url_for('add_recipe')}}" class="waves-effect waves-light btn-small">Add Your Recipe</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!---------------------------------Veiw recipe in profile-->
<div class="row">
    {% if my_recipes|count > 0 %}
    <h4 class="my_recipc_title">My Favorite recipes</h4>
    <div class="row">
        {% for recipe in my_recipes %}

        <div class="col s12 m3">
            <div class="card">
                <div class="card-image waves-block waves-light">
                    <img class="activator" src="{{ recipe.image }}" onError="this.src='{{ url_for('static', filename='images/OnlineFoodOrdersfavicon-1920w.png')}}'" alt="recipe_image" />
                </div>
                <div class="card-content">
                    <span class="card-title activator" id="title_recipe">
                        <strong>{{ recipe.category_name }}</strong> : {{ recipe.recipe_name }} {% if recipe.is_veg == true %}
                        <i class="fas fa-seedling tooltipped" data-position="bottom" data-tooltip="I am vegan"></i>
                        {% endif %}
                        <br />
                        <span id="time_cook">
                            <i class="far fa-clock"></i> Preparation time {{ recipe.prep_time }} Min,
                            <br />
                            Cooking time {{ recipe.cooking_time }} Min.
                            <i class="fas fa-concierge-bell"></i> {{ recipe.serves }} Serves
                        </span>
                        <i class="fas fa-ellipsis-v right"></i>
                    </span>
                    <div class="view_recipe">
                        <!---------------------------------------View-recipe-->
                        <a class="btn" href="{{ url_for('recipe_detial', recipe_id=recipe._id)}}">View recipe</a>
                        <!---------------------------------------Edit-recipe-->
                        <a class="btn-small edit-btn" href="{{ url_for('edit_recipe', recipe_id=recipe._id)}}"> Edit <i class="fas fa-plus"></i></a>
                    </div>
                    <!---------------------------------------Delete-recipe-->
                    <a class="btn-small delete-btn waves-effect waves-light modal-trigger" href="#delete">Delete</a>

                    <!-- Modal Structure -->
                    <div id="delete" class="modal">
                        <div class="modal-content">
                            <h4 class="del-title">Delete Recipe</h4>
                            <p class="del-par">Are you sure you want to delete this recipe?you can not see this in your profile anymore if you delete it.</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="modal-close waves-effect btn green">Confirm</a>
                            <a href="#!" class="modal-close btn red"> Cancel</a>
                        </div>
                    </div>
                </div>
                <!---------------------------------Detail-recipe-->
                <div class="card-reveal">
                    <span class="card-title brown-text text-darken-4"> {{recipe.recipe_name}} <i class="far fa-times-circle right"></i> </span>
                    <p>{{ recipe.recipe_description}}</p>
                    <hr />
                    <p class="brown-text text-darken-4" style="font-size: 0.9rem;"><em>Author: {{recipe.author}}</em></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<h4 class="no_recipe">
    ٍSorry! No recipe has been added yet.
    <i class="far fa-frown"></i>
</h4>
{% endif %} {% endblock %}
