{% extends "base.html" %}
{% block content %}

<section>
  <div class="row">
    <div class="col s12 center-align">
      <h3 class="header-title">All Recipes </h3>
    </div>
  </div>

  

  {% for recipe in recipes %}
   
     
  <div class="row">
    <div class="col s12 m3 ">
      <div class="card">
        <div class="card-image waves-block waves-light">
          <img class="activator" src="{{ recipe.image }}"
                  onError="this.src='{{ url_for('static', filename='images/OnlineFoodOrdersfavicon-1920w.png')}}'" alt="recipe_image"/>
        </div>
        <div class="card-content">
          <span class="card-title activator " id="title_recipe">
           <strong>{{ recipe.category_name }}</strong> :
            {{ recipe.recipe_name }}
            {% if recipe.is_veg == true %}
            <i class="fas fa-seedling tooltipped" data-position="bottom" data-tooltip="I am vegan"></i>
           {% endif %}
            <br>
            <p id="time_cook">
              <i class="far fa-clock"></i> Preparation time {{ recipe.prep_time }} Min, 
              <br>
              Cooking time {{ recipe.cooking_time }} Min.
              <i class="fas fa-concierge-bell"></i> {{ recipe.serves }} Serves
            </p>
            <i class="fas fa-ellipsis-v right"></i>
    
          </span>
          <div class="view_recipe">
            <a class="btn" href="#">View recipe
                </a>
               
         </div>
        </div>
        <div class="card-reveal">
          <span class="card-title brown-text text-darken-4">
            {{recipe.recipe_name}} <i class="far fa-times-circle right"></i>
          </span>
          <p>{{ recipe.recipe_description}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>








  {% endblock %}